/* Feuille de style pour le TP 2 sur les bases de PHP 
 * Auteur : dG, le 14/09/2020 */

body {
    color: black;
    background: white;
    font-family: Verdana, Trebuchet MS, sans-serif;
    min-width: 800px;
}

h1 {
    font-size: 1.2em;
    text-align: center;
    color: white;
    background: #7777AA;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    color: #999999;
}

a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #999999;
}

a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: white;
    background: #999999;
    cursor: pointer;
}

/* Pour les messages */
p.message {
    font-weight: bold;
    text-align: center;
    color: #29A329;
    background-color: #81F0BC;
    border: 1px solid #29A329;
    padding: 3px 5px;
}

p.erreur {
    color: red;
    background-color: #FFA3A3;
    border: 1px solid red;
    padding: 3px 5px;
}

table thead tr {
    background-color: #7777AA;
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
    border-collapse: collapse;
}

table td {
    height: 20px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #CCCCFF;
}

table tr:nth-child(even) {
    background-color: #CCCCFF;
}

#radio span {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    margin-left: 10px;
}

#radio input[type=radio] {
    display: none;
}

#radio input[type=radio]:checked ~ span {
    background: #CCCCFF;
}

#topMenu {
    max-width: 700px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    border: 3px solid #b4b4ff;
    border-collapse: collapse;
    height: 40px
}

#topMenu input:first-of-type {
    padding: 10px;
}

#topMenu input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 65em;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#formWrapper {
    border-collapse: collapse;
    height: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #77a
}

#formWrapper div {
    margin-bottom: 5px;
}

#formWrapper input[type=text] {
    font-size: 15px;
    border: 0;
}

#formWrapper input[type=text]:focus {
    font-size: 15px;
    border: 0;
    outline: none;
}

#formWrapper input[type=text]::placeholder {
    opacity: 1;
    transition: 0.5s;
}

#formWrapper input[type=text]:focus::placeholder {
    opacity: 0;
}

#formWrapper input[type=submit] {
    font-size: 15px;
    font-weight: bold;
    border: 0;
    background: #7777AA;
}

#formWrapper input[type=submit]:active {
    background: #b0b0ff;
}

#switchWrapper {
    position: relative;
    font-size: 15px;
    line-height: 100%;
    padding: 0;
    margin: 0;
    background: inherit;
    width: 110%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#switchWrapper input[type=checkbox] {
    width: 0;
    height: 0;
    display: none;
}

#switchWrapper label {
    color: #696969;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: 100%;
    vertical-align: middle;
    background-color: #b4b4ff;
    /*border-radius: 100px;

   */
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 20px #477a8550;
}

.arrowContainer {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    width: 115px;
    height: 100%;
    background: #CCCCFF;
    transition: 0.5s;
}

#switchWrapper .arrow {
    position: relative;
    top: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    transform: scale(1) rotate(-45deg);
    transition: 0.5s;
}

#switchWrapper input:checked ~ label .arrowContainer {
    left: 100%;
    transform: translateX(-100%);
}

#switchWrapper input:checked ~ label .arrowContainer .arrow {
    transform: scale(-1, 1) rotate(-45deg);
}

#switchWrapper label:active .arrowContainer {
    width: 95px;
}
